@import "src/assets/sass/variables"

.social
  width: 20%
  display: inline-flex
.bg-primary
  background: $orange !important

nav

  ul
    margin: 0 auto
    li
      list-style: none
      a
        color: white

@media (min-width: $md)
  .social
    width: 27%

@media (min-width: $lg)
  .social
    width: 20%

@media (min-width: $xl)
  .social
    width: 15%

@media (min-width: $xxl)
  .social
    width: 10%
