@import "src/assets/sass/variables"

nav
  background: $orange
  height: 150px
  width: 100%
  ul
    li
      list-style: none
      display: inline-flex
      line-height: 150px

      &:first-child
        a
          img
            margin-top: -10px
            width: 150px

      &:nth-child(2)
        right: 20px
        position: absolute
        margin-top: 50px

        a
          font-size: 2em
          text-decoration: none
          color: $white

      &:last-child
        float: right
        margin-right: 20px
        margin-top: -10px

        a
          width: 50px
          img
            width: 100%
