<nav>
  <ul>
    <li>
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="logo">
      </a>
    </li>
    <li>
      <a routerLink="contacto">
        Contacto
      </a>
    </li>
    <li>
      <a>
        <img src="assets/images/btn-face.png" alt="facebook">
      </a>
      <a href="https://api.whatsapp.com/send?phone=525521096425">
        <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="whatsapp">
      </a>
    </li>
  </ul>
</nav>
