<div class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-12 bg-titles p-3">
        <div class="row">
          <div class="col-12 col-md-9 offset-md-3">
            <h1 class="text-white ps-4">¿QUIENES SOMOS?</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 d-none d-lg-block">
      <img src="assets/images/sidebar.png" width="100%" alt="sidebar">
    </div>
    <div class="col-12 col-lg-9">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
          <td valign="top">
            <br><br>
            <table width=100% border="0">
              <tr>
                <td valign="top">
                  <p><img src="/data/imgs/yolanda.jpg" border="0" width="200" height="288">
                    <br>
                    <b>Yolanda Ruanova Fernández</b>
                    <br>Lic. en Arqueología, egresada de la ENAH
                    <br>(Escuela Nacional de Antropología e Historia)
                    <br><b>Directora General de Ecoaventura Mexicana</b>
                </td>
            </table>
            <p>Como arqueólogos, hemos recorrido gran parte de nuestro país estudiando las culturas que en tiempos prehispánicos habitaron nuestro territorio dejando a su paso un sin número de evidencias que por medio del trabajo arqueológico se han dado a conocer al mundo entero.  Gracias a esto, ahora sabemos más acerca de quienes eran los Mayas, los Olmecas, Aztecas, Zapotecas, etc. y sus logros culturales de los que cualquier mexicano puede sentirse orgulloso y compartirlo con el mundo entero.
            <p>En este devenir hemos descubierto lugares increíbles que, aunados a la riqueza arqueológica, constituyen verdaderas maravillas naturales, la mayoría de las veces, desconocidas por la gente.
            <p>Desde 1998, al crear esta empresa, nos propusimos compartir con todos ustedes nuestras experiencias y conocimientos y el orgullo de ser los descendientes de estas culturas que han dejado  a su paso por este mundo un legado tan importante que conoceremos y disfrutaremos combinando la cultura, el contacto con la naturaleza y la aventura.
            <p>Así pues, te invitamos a unirte a nuestros viajes y descubrir todas estas maravillas que están esperando las descubras . . .  no te  lo pierdas!
            <p class="tit">METAS Y OBJETIVOS
            <p>Ecoaventura Mexicana organiza y ofrece una serie de viajes y expediciones en las que la cultura, la aventura y el contacto con la naturaleza forman parte esencial de nuestros recorridos. Donde todo está planeado y programado, garantizando la seguridad y la diversión de cada uno de nuestros pasajeros.
            <p>Nuestros <b>objetivos</b> son convivir con la naturaleza, practicar deportes de aventura y encontrar los ambientes ideales para aquéllos que están interesados en la observación de los pájaros, mariposas, de las raras flores tropicales, para aquellos que gustan de los sitios arqueológicos, los ríos, la selva y los hermosos paisajes naturales, disfrutando y compartiendo emocionantes experiencias, al mismo tiempo que nos enriquecemos culturalmente. Arqueólogos, guías especializados y operadores experimentados  conducen estos tours en grupos pequeños, utilizando transportes especiales que nos llevarón a los sitios más apartados, ya sea en vehículos 4WD, en balsas o barcas para navegar y descender por los ríos, en  bicicletas, a caballo o simplemente caminando.
            <p>Convivir con la naturaleza requiere  <b>seguridad</b> y <b>responsabilidad</b>. La seguridad es parte principal en cada uno de nuestros recorridos. La responsabilidad que tenemos es la de participar en la conservación del medio ambiente y mejorar los estándares de vida de las comunidades que visitaremos en nuestros recorridos.
            <p>Nuestros <b>programas de viaje</b> incluyen el hospedaje que puede ser en posadas, hoteles o casas de campaña (incluimos todo el equipo de campamento). Debido a las características de nuestros viajes, nos alojamos en pequeños hoteles llenos de ambiente donde garantizamos el confort y la higiene. También se incluyen algunos alimentos que elabora nuestro personal  en los campamentos, en ocasiones con la participación de nuestros grupos.
            <p>Para la <b>seguridad</b> y <b>tranquilidad</b> de nuestros clientes, Ecoaventura Mexicana cuenta con un seguro de gastos médicos para cada uno de nuestros pasajeros.
            <p align="center"><b>¡Únete a nuestros viajes y expediciones y vive una aventura inolvidable!</b>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
