<div class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-12 bg-titles p-3">
        <div class="row">
          <div class="col-12">
            <h1 class="text-white ps-5">Inicio</h1>
          </div>
        </div>
      </div>
    </div>
      <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/slider.png" class="d-block w-100" alt="slider">
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-12 bg-titles p-3">
        <div class="row">
          <div class="col-12 col-md-9 offset-md-3">
            <h1 class="text-white ps-4">Bienvenidos</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 d-none d-lg-block">
      <img src="assets/images/sidebar.png" width="100%" alt="sidebar">
    </div>
    <div class="col-12 col-lg-9">

    </div>
  </div>
</div>


