// Colors
$blue: #2769a5;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f7921e;
$yellow: #ffed4a;
$green: #38c172;
$greenMain: #018202;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blueSocialNetworks: #6abafc;
$gray : #c4c3c3;
$dark: #585858;
$dark-background: #1d1d1d;
$hover-dark: #8e8c8c;
$black: #070000;
$white: #f6f5f5;
$light: #acdff6;


// Resolutions
$sm: 36rem;
$md: 48rem;
$lg: 62rem;
$xl: 75rem;
$xxl: 87.5rem;
